/* Scss Document */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
//font-family: 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600&display=swap');
//font-family: 'Roboto Slab', serif;


$main-color: #f48422;
$second-color: #9e9b9c;
$third-color: #fbf8f9;
$fourth-color: #ff5858;
